/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.drag-wrapper {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  background: #e5e5e5;
}